
body {
    background-color: #141414;
    overflow-x: hidden;
}

.choose-avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-avatar img:hover {
    border: 2px solid white;
}

.choose-avatar p:hover {
    color: white;
}

.choose-avatar img {
    border-radius: 8px;
    border: 2px solid #141414;

}

.choose-avatar h2 {
    position: absolute;
    top: 25%;
    font-size: 2.7rem;
    font-weight: lighter;
}

.choose-avatar p {
    text-align: center;
    color: grey;
}

.avatar-display-name {
    color: white;
    position: absolute;
    right: 10px;
    top: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #141414;
    padding: 4px 8px;
    mask-image: linear-gradient(
            var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 40%,
            hsl(0 0% 0% / 0)
    );
}

.mobile_wallpaper {
    display: none;
}

.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s all;
}

.navbar ul {
    display: flex;
    gap: 1.2rem;
    margin-top: 0.7rem;
    font-size: 0.9rem;
    letter-spacing: .5px;
    opacity: 0.9;
}

.navbar li {
    list-style-type: none;
}

.search-input {
    border: none;
    width: 1rem;
    background-color: transparent;
    position: relative;
    font-size: 0.9rem;
    color: white;
    outline: none;
    cursor: pointer;
    padding-right: 3rem;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.search-input::placeholder {
    font-size: 0.8rem;
}

.search-input:focus {
    width: 18rem;
    background-color: black;
    border: 1px solid white;
    padding: 0.4rem 3rem;
}

.search-input:focus .search-icon {
    z-index: 2 !important;
}

.search-icon {
    position: absolute;
    padding: 0 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transform: rotate(-13deg);
}

.cross-icon {
    position: absolute;
    right: 0;
    padding: 0 10px;
    font-size: 1.3rem;
    transform: rotate(45deg);
    z-index: 10;

}

.navbar-logo {
    width: 100px;
    transition: 0.1s ease-in-out;
}

.avatar_img {
    width: 34px;
    height: 35px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 1rem;
}

.search-body-wrapper {
    position: absolute;
    top: 9rem;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: #141414;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
}

.search-content-box {
    position: relative;
    width: 15rem;
    height: 8.5rem;
    transition: 0.4s all;
    cursor: pointer;
    border-radius: 3px;
    background-color: #141414;
}

.search-content-box:hover {
    transform: scale(1.4);
    z-index: 5;
    box-shadow: 10px 10px 30px #141414;
    filter: contrast(110%) brightness(130%);
}

.search-content-box:hover .search-content-box-details {
    display: block;
}

.search-content-box img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.search-content-box:hover .search-content-box-image {
    mask-image: linear-gradient(
            var(--mask-direction, to bottom),
            hsl(0 0% 0% / 1),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 40%,
            hsl(0 0% 0% / 0)
    );
}

.search-content-box-details {
    display: none;
    background-color: #141414;
    padding: 8px 10px;
}

.search-content-box-details .display-name {
    font-family: 'Square Peg', cursive;
    font-size: 1.4rem;
}

.search-content-box-details .media-type {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 1px;
    color: cadetblue;
}


.search-content-box-details .overview {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5rem;
    letter-spacing: .5px;
    color: darkgrey;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 2rem;
    overflow-y: scroll;
}

.video-player {
    height: 100vh;
    mask-image: linear-gradient(
            var(--mask-direction, to bottom),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 40%,
            hsl(0 0% 0% / 0)
    );
}

.videoActions {
    position: absolute;
    top: 27%;
    left: 3.5%;
}

.videoActions h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Square Peg', cursive;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgba(20, 0, 0, 1);
    text-transform: capitalize;
    font-style: italic;
    text-decoration: none;
    line-height: 0.8em;
    letter-spacing: 0;
    color: white;
    transition: 1s ease;
}

.videoActions p {
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    height: 4.3rem;
    overflow-y: scroll;
    font-size: 1rem;
    color: white;
}

.volume {
    position: absolute;
    top: 65%;
    right: 5%;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    padding: 0.6rem 0.7rem;
}

.volume:hover {
    background-color: grey;
    border-color: white;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.title {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.gap {
    gap: 0.4rem;
}

.play-home-button {
    margin-top: 2.5rem;
    border: none;
    padding: 0.4rem 1.8rem;
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: 150px;
}

.homepage-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: 1s ease-in-out;
}

.collection {
    margin-top: -5.7rem;
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
}

.box {
    transition: 0.3s all;
    cursor: pointer;
    background-color: #141414;
}

.box:hover {
    transform: scale(1.4);
    box-shadow: 10px 20px 30px black;
}

.box:hover .showcase-video-details {
    display: block !important;
    box-shadow: 10px 20px 30px black;
}

.showcase-picture {
    width: 15.5rem;
    height: 8rem;
}

.showcase-picture img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: contrast(1.1) brightness(1.2);
}

.play {
    background-color: mintcream;
    padding: 0.4rem 0.4rem;
    font-size: 0.7rem;
    border: 1px solid mintcream;
    border-radius: 50%;
}

.plus {
    background-color: transparent;
    border: 1px solid mintcream;
    padding: 0.4rem 0.4rem;
    font-size: 0.7rem;
    border-radius: 50%;
    cursor: not-allowed;
}

.vol {
    background-color: transparent;
    border: 1px solid silver;
    padding: 0.4rem 0.3rem;
    font-size: 0.7rem;
    border-radius: 50%;
    margin-top: -5.5rem;
}

.showcase-video-details {
    display: none !important;
    background-color: #141414;
    transition: 0.1s ease-out;
    cursor: pointer;
    position: absolute;
    width: 15.5rem;
    height: 7.3rem;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.video-card {
    position: absolute;
    overflow: hidden;
    top: 0;
}

.default-video-playing {
    width: auto;
    padding: 0 7px;
    position: absolute;
    font-size: 0.5rem;
    color: white;
    text-align: center;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    opacity: 0.5;
}

.popular {
    position: relative;
}

.video-menu {
    transition: 0.7s all;
}

.showcase-picture img:hover {
    border-radius: 3px 3px 0 0;
}

.pagination {
    position: absolute;
    right: 2.2rem;
}

.lead {
    font-weight: 600;
    font-size: 1.2rem;
}

.video-details p, .video-genre {
    font-size: 8px;
    color: white;
}

.video-genre {
    margin-top: -0.4rem;
}

.video-name {
    height: 2rem;
    overflow: hidden;
    font-size: 20px;
    color: silver;
    font-family: 'Square Peg', cursive;
}

.video-match {
    color: green !important;
    font-weight: 600;
}

.video-rating {
    color: white;
    border: 1px solid mintcream;
    font-size: 8px !important;
    padding: 2px;
}

.video-seasons {
    color: whitesmoke;
}

.video-quality {
    color: white;
    font-size: 7px !important;
    border: 1px solid white;
    padding: 1px;
}

.left-arrow {
    position: absolute;
    top: 1.9rem;
    left: 0;
    padding: 41px 6px;
    cursor: pointer;
    background-color: #202124;
    opacity: 0.7;
}

.right-arrow {
    position: absolute;
    top: 1.9rem;
    right: 0;
    padding: 41px 8px;
    cursor: pointer;
    background-color: #202124;
    opacity: 0.7;
}

.tablet_wallpaper img {
    width: 100%;
    height: 75vh;
    top: 0;
    mask-image: linear-gradient(
            var(--mask-direction, to bottom),
            hsl(0 0% 0% / 1),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 40%,
            hsl(0 0% 0% / 0)
    );
}

.tablet_wallpaper p {
    position: absolute;
    left: 50%;
    top: 25rem;
    font-size: 2.7rem;
    font-family: 'Square Peg', cursive;
    color: white;
    text-align: center;
    font-weight: 700;
    transform: translateX(-50%);
}

.tablet_wallpaper h4 {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 0 12px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Media Queries */

@media only screen and (min-width: 1900px) {

    .showcase-picture {
        width: 18.6rem;
        height: 10.5rem;
    }

    .showcase-picture img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }

    .showcase-video-details {
        width: 18.6rem;
        height: 8rem;
    }

    .box:nth-child(6n):hover {
        margin-left: -6.5rem;
        margin-right: 6.5rem;
    }

    .box:nth-child(6n + 1):hover {
        margin-left: 6.5rem;
        margin-right: -6.5rem;
        border-radius: 3px;
    }

    .left-arrow {
        top: 2.4rem;
        padding: 61px 9px;
    }

    .right-arrow {
        top: 2.4rem;
        padding: 61px 9px;
    }

    .lead {
        font-size: 1.7rem;
    }

    .videoActions h1 {
        font-size: 10rem;
        margin-bottom: 2rem;
    }

    .videoActions p {
        font-size: 1.3rem;
        width: 35rem;
        height: 7rem;
    }
}

@media only screen and (max-width: 1366px) {
    .box:nth-child(5n):hover {
        margin-left: -3rem;
        margin-right: 3rem;
    }

    .box:nth-child(5n + 1):hover {
        margin-left: 3rem;
        margin-right: -3rem;
        border-radius: 3px;
    }
}


@media only screen and (max-width: 1024px) {

    .showcase-picture {
        width: 18.6rem;
        height: 10.5rem;
    }

    .showcase-picture img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }

    .showcase-video-details {
        width: 18.6rem;
        height: 8rem;
    }

    .collection {
        margin-top: 5rem;
    }

    .video-menu {
        scroll-snap-type: x mandatory;
        overflow: auto;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    .box {
        pointer-events: none;
    }
}

@media only screen and (max-width: 768px) {

    .collection {
        margin-top: -3rem;
    }

    .homepage-image {
        height: 25rem;
    }

    .video-player {
        height: 25rem;
    }

    .videoActions {
        top: 6rem;
    }

    .videoActions h1 {
        font-size: 3rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .navbar {
        top: 0;
    }

    .large-device-player {
        display: none;
    }

    .mobile_wallpaper {
        display: unset;
    }

    .showcase-picture {
        width: 6.2rem;
        height: 8rem;
    }

    .mobile_wallpaper img {
        position: absolute;
        width: 100%;
        top: 0;
        mask-image: linear-gradient(
                var(--mask-direction, to bottom),
                hsl(0 0% 0% / 1),
                hsl(0 0% 0% / 1) 20%,
                hsl(0 0% 0% / 1) 40%,
                hsl(0 0% 0% / 0)
        );
    }

    .mobile_wallpaper p {
        font-size: 2.7rem;
        font-family: 'Square Peg', cursive;
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .mobile_wallpaper h4 {
        font-size: 1rem;
        padding: 0 12px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .popular {
        padding: 15px !important;
    }

    .video-menu {
        scroll-snap-type: x mandatory;
        overflow: auto;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    .box {
        pointer-events: none;
    }

    .homepage-image {
        position: absolute;
    }

    .video-player {
        display: none;
    }

    .collection {
        margin-top: 25rem;
        gap: 0;
    }

    .choose-avatar img {
        border-radius: 8px;
        border: 2px solid #141414;
        width: 90px;
    }

    .choose-avatar h2 {
        position: absolute;
        top: 30%;
        font-size: 2.7rem;
        font-weight: lighter;
    }

    .choose-avatar p {
        text-align: center;
        color: grey;
    }

    .navbar ul {
        display: none;
    }

    .search-input:focus {
        width: 15rem;
        position: absolute;
        left: -12rem;
        top: 2rem;
    }

    .search-icon {
        right: 0;
    }
}
